@use "/styles/abstracts/mixin" as *;

.thisMonSection {
  @include flexbox(row, space-around, center);
  width: 100svw;
  padding: 54px 0;
  border-bottom: 1px dashed #000;
}

.thisMonTitle {
  font-family: "Arial W02 Rounded Bold", sans-serif;
  width: 45%;
  font-size: 65px;
  letter-spacing: -0.15rem;
  line-height: 70px;
  > button {
    @extend %btn;
    font-size: 15px;
    line-height: 15px;
  }
}

.thisMonPaper {
  @include flexbox(row, center, center);
  width: 45%;
  position: relative;
}
.gooseIcon {
  position: absolute;
  top: 45%;
  left: 2%;
  width: 15%;
  aspect-ratio: 1/2;
  background: url("/images/goose.svg") no-repeat center/contain;
  z-index: 2;
}

.paperWrapper {
  position: relative;
  width: 80%;
  aspect-ratio: 13/18;
  perspective: 1000px;
  cursor: pointer;
  transition: transform 0.6s;
  transform-style: preserve-3d;

  &.flipped {
    transform: rotateY(180deg);
  }

  .paperFront,
  .paperBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .paperBack {
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }

  .gooseIcon {
    position: absolute;
    top: 45%;
    left: 2%;
    width: 15%;
    aspect-ratio: 1/2;
    background: url("/images/goose.svg") no-repeat center/contain;
    z-index: 2;
    /* 關鍵修改：讓 goose 不受 3D 轉換影響 */
    transform: translateZ(1px);
    transform-style: flat;
  }
}

@include rwd(m) {
  .thisMonTitle {
    font-size: 55px;
    line-height: 60px;
  }
}

@include rwd(s) {
  .thisMonSection {
    @include flexbox(column, start, center);
    flex-direction: column-reverse;
  }
  .thisMonTitle {
    font-family: "Arial W02 Rounded Bold", sans-serif;
    width: 80%;
    font-size: 45px;
    line-height: 50px;
  }

  .thisMonPaper {
    width: 80%;
    margin-bottom: 40px;
  }
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
