@use "/styles/abstracts/mixin" as *;

.footerSection {
  @include flexbox(row, space-between, center);
  padding: 0 30px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    border-right: 1px dashed #000;
    width: 0;
    height: 100%;
  }
}
.inviteSection {
  @include flexbox(column, start, start);
  padding: 100px 30px 150px 0;
  width: 50%;
  .storeWrapper {
    position: relative;
    width: 20%;
    aspect-ratio: 1.1/1;
    margin-bottom: 30px;
  }
  > h3 {
    font-family: "Arial W02 Rounded Bold", sans-serif;
    font-size: 80px;
    letter-spacing: -0.15rem;
    line-height: 80px;
    margin-bottom: 30px;
  }
  > p {
    font-family: "PPNeueMontreal-Regular", sans-serif;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.01rem;
  }
}
.formSection {
  @include flexbox(column, start, center);
  padding: 130px 0;
  width: 50%;
  height: 100%;
  form {
    @include flexbox(column, start, start);
    width: 80%;
    input {
      width: 100%;
      background-color: #0000;
      border: none;
      border-bottom: 1px solid #000;
      margin-bottom: 30px;
      padding: 10px 0px;
      &::placeholder {
        font-family: "PPNeueMontreal-Regular", sans-serif;
        font-size: 16px;
        letter-spacing: 0.1rem;
        color: #000;
      }
      &[type="file"] {
        display: none;
      }
      &:focus {
        outline: none;
      }
    }
    > .fileConfirm {
      @include flexbox(row, start, center);
      padding: 0 16px;
      border: 1px dashed #000;
      border-radius: 6px;
      width: 100%;
      height: 52px;
      margin-bottom: 30px;
      background-color: #fff;
      font-family: "PPNeueMontreal-Regular", sans-serif;
      cursor: pointer;
    }
    > label {
      margin-bottom: 16px;
    }
    > textarea {
      width: 100%;
      min-height: 140px;
      background-color: #0000;
      border: 1px solid #000;
      border-radius: 6px;
      padding: 10px;
      margin-bottom: 16px;
      &:focus {
        outline: none;
      }
    }
    > button {
      @extend %btn;
      padding: 6px 20px;
    }
  }
}

@include rwd(s) {
  .footerSection {
    @include flexbox(column, center, center);
    &::after {
      border-right: 0;
    }
  }
  .inviteSection {
    width: 90%;
    padding: 30px;
    font-size: 45px;
    border-bottom: 1px dashed #000;
    .storeWrapper {
      width: 25%;
    }
  }
  .formSection {
    width: 90%;
    padding: 50px 0 100px 0;
    form {
      width: 100%;
    }
  }
}
